<<<<<<< HEAD
<h1>Welcome to IMDB</h1>


<%= link_to "Movies", movies_path %>
<%= link_to "Actors", actors_path %>
=======
<h1>Actors and Movies</h1>

<p>
  Browse by
  <%= link_to "Actors", actors_path %>
  or
  <%= link_to "Movies", movies_path %>
</p>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
